
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #fefefe;
}
nav {
    background-color: #004d40;
    padding: 10px;
}
nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
main {
    padding: 20px;
}
